In [2]:
!pip install pyecharts==0.1.9.4 -i "https://mirrors.aliyun.com/pypi/simple/"

Looking in indexes: https://mirrors.aliyun.com/pypi/simple/
Requirement already satisfied: pyecharts==0.1.9.4 in d:\anaconda\lib\site-packages (0.1.9.4)
Requirement already satisfied: future in d:\anaconda\lib\site-packages (from pyecharts==0.1.9.4) (0.18.3)
Requirement already satisfied: jinja2 in d:\anaconda\lib\site-packages (from pyecharts==0.1.9.4) (3.1.2)
Requirement already satisfied: pillow in d:\anaconda\lib\site-packages (from pyecharts==0.1.9.4) (9.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda\lib\site-packages (from jinja2->pyecharts==0.1.9.4) (2.1.1)

In [31]:
#引入出具分析库

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import time

In [45]:
data = pd.read_csv(r'D:/学习/项目练习/淘宝用户行为分析/UserBehavior.csv',nrows=1999999) 
data.to_csv('D:/学习/项目练习/淘宝用户行为分析/UserBehavior_1.csv')

In [47]:
# 数据读取

file_path =r"D:/学习/项目练习/淘宝用户行为分析/UserBehavior_1.csv"
data=pd.read_csv(file_path,header=None,index_col=None)
data.columns=['User_Id','Item_Id','Category_Id','Behavior_type','Timestamp']
data.head(5)

   User_Id  Item_Id  Category_Id Behavior_type   Timestamp
0        1  2268318      2520377            pv  1511544070
1        1  2333346      2520771            pv  1511561733
2        1  2576651       149192            pv  1511572885
3        1  3830808      4181361            pv  1511593493
4        1  4365585      2520377            pv  1511596146

In [48]:
# 一、数据读取和数据清洗
# 1.检查空值 ---检查结果数据无空值
print(pd.isnull(data["Timestamp"]).value_counts())
print(pd.isnull(data["Item_Id"]).value_counts())

False    1048576
Name: Timestamp, dtype: int64
False    1048576
Name: Item_Id, dtype: int64

In [49]:
# 2.检查异常值
# 1）Timestamp存在负值
print(data[data["Timestamp"]<0])
data = data[data["Timestamp"]>0]
# 2）Behavior_type存在异常值
print(data["Behavior_type"].value_counts())
data = data[data["Behavior_type"]!="3"]
# 3）检查异常处理结果
print(data[data["Timestamp"]<0])
print(data["Behavior_type"].value_counts())

print(data.info())  # [19999969 rows x 5 columns]
data.head()

Empty DataFrame
Columns: [User_Id, Item_Id, Category_Id, Behavior_type, Timestamp]
Index: []
pv      940047
cart     57861
fav      29353
buy      21315
Name: Behavior_type, dtype: int64
Empty DataFrame
Columns: [User_Id, Item_Id, Category_Id, Behavior_type, Timestamp]
Index: []
pv      940047
cart     57861
fav      29353
buy      21315
Name: Behavior_type, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048576 entries, 0 to 1048575
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   User_Id        1048576 non-null  int64
 1   Item_Id        1048576 non-null  int64
 2   Category_Id    1048576 non-null  int64
 3   Behavior_type  1048576 non-null  object
 4   Timestamp      1048576 non-null  int64
dtypes: int64(4), object(1)
memory usage: 48.0+ MB
None

   User_Id  Item_Id  Category_Id Behavior_type   Timestamp
0        1  2268318      2520377            pv  1511544070
1        1  2333346      2520771            pv  1511561733
2        1  2576651       149192            pv  1511572885
3        1  3830808      4181361            pv  1511593493
4        1  4365585      2520377            pv  1511596146

In [50]:
# 3.时间戳转换时间单位
data.loc[:,'Timestamp']=data['Timestamp'].apply(lambda x: time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(x)))
data.loc[:,'Date']=data['Timestamp'].apply(lambda x:x.split(' ')[0])
data.loc[:,'Time']=data['Timestamp'].apply(lambda x:x.split(' ')[1])
# 只取2017年11月25日至2017年12月3日之间的数据进行研究
# print(data["Date"].value_counts())
cleaned_data=data[(data["Date"]>='2017-11-25')&(data["Date"]<='2017-12-03')]
print(cleaned_data["Date"].value_counts())

2017-12-02    144414
2017-12-03    143650
2017-12-01    114352
2017-11-26    111973
2017-11-30    110774
2017-11-25    109334
2017-11-29    107065
2017-11-28    103869
2017-11-27    102634
Name: Date, dtype: int64

In [51]:
# 4.去除重复数据
print(cleaned_data.duplicated().value_counts())
cleaned_data=cleaned_data.drop_duplicates(subset=['User_Id','Item_Id','Category_Id','Behavior_type','Timestamp'],keep='first')
print(cleaned_data.duplicated().value_counts())

False    1048065
dtype: int64
False    1048065
dtype: int64

In [52]:
# 5.预处理数据保存
cleaned_data.to_csv(r'D:\学习\项目练习\淘宝用户行为分析\cleaned_data.csv', encoding = 'utf-8', index = False)
print(cleaned_data.duplicated().value_counts())

False    1048065
dtype: int64

In [54]:
####
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
file_path =r"D:\学习\项目练习\淘宝用户行为分析\cleaned_data.csv"
data=pd.read_csv(file_path)
data.head()

,User_Id,Item_Id,Category_Id,Behavior_type,Timestamp,Date,Time
0,1,2268318,2520377,pv,2017/11/25 1:21,2017/11/25,1:21:10
1,1,2333346,2520771,pv,2017/11/25 6:15,2017/11/25,6:15:33
2,1,2576651,149192,pv,2017/11/25 9:21,2017/11/25,9:21:25
3,1,3830808,4181361,pv,2017/11/25 15:04,2017/11/25,15:04:53
4,1,4365585,2520377,pv,2017/11/25 15:49,2017/11/25,15:49:06

In [55]:
describe1=pd.DataFrame({"用户数量":len(set(list(data["User_Id"]))),"产品数量":len(set(list(data["Item_Id"]))),"产品种类数量":len(set(list(data["Category_Id"]))),"统计天数":len(set(list(data["Date"])))},index=['1'])
describe1

    用户数量    产品数量  产品种类数量  统计天数
1  10202  412219    5856     9

In [59]:
describe3 = data.loc[:,["User_Id","Behavior_type"]]
ids = pd.DataFrame(np.zeros(len(set(list(data["User_Id"])))),index=set(list(data["User_Id"])))
pv_class=describe3[describe3["Behavior_type"]=="pv"].groupby("User_Id").count()
pv_class.columns  = ["pv"]
buy_class=describe3[describe3["Behavior_type"]=="buy"].groupby("User_Id").count()
buy_class.columns  = ["buy"]
fav_class=describe3[describe3["Behavior_type"]=="fav"].groupby("User_Id").count()
fav_class.columns  = ["fav"]
cart_class=describe3[describe3["Behavior_type"]=="cart"].groupby("User_Id").count()
cart_class.columns  = ["cart"]

user_behavior_counts=ids.join(pv_class).join(fav_class).join(cart_class).join(buy_class).iloc[:,1:]
user_behavior_counts.head()

ValueError: index cannot be a set